.box1 {
    border: 5px solid purple;
    background-color:antiquewhite;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#email:hover {
    background: pink;
}

.line {
    border: none;
    border-top: 10px dotted skyblue;
    width: 510px;
    margin-left: 0;
    
    
}

li {
    padding-left: 10px;
}