body {
    background-color: black;
    margin: 100px;
}

.layout-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 570px;
    background-color: white;
    justify-content: space-evenly;
}

.layout-container1 {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50px;
    
}

.line1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left1 {
    background-color: blanchedalmond;
    flex-basis: 320px;
}

.right1 {
    background-color: pink;
    flex-basis: 640px;
}

.layout-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50px;
}
.line2 {
    background-color: purple;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-container3 {
    background-color: palegreen;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 125px;
}

.line3 {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left2 {
    flex-basis: 388px;
}

.right2 {
    flex-basis: 582px;
}

.layout-container4 {
    background-color: lightpink;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 125px;
}

.line4 {
    background-color: paleturquoise;
    display: flex;
    justify-content:center;
    align-items:center;
}

.left3 {
    flex-basis:582px;
}

.right3 {
    flex-basis:388px;
}

.layout-container5 {
    background-color: lightsalmon;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 200px;
}

.line5 {
    background-color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}



